
@RenderPage("~/Views/Shared/_header.cshtml")

					<section class="page-title-section">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="page-header-wrap">
										<div class="page-header">
									   		<h1>Frequently Asked Questions</h1>
									   	</div>
									   <ol class="breadcrumb">
										  <li><a href="#">Home</a></li>
										  <li class="active">Faq</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="faq-contents">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-5 col-xs-12">
									<div class="service-sidebar sidebar-wrapper">

									    <div class="widget">
									        <h2 class="widget-title">Services</h2>
								            <ul class="service-list">
                                            	<li><a href="air.html" class="icon-air">Air transportation</a></li>
                                                <li><a href="marine.html" class="icon-marine">Marine transportation</a></li>
                                                <li><a href="moving.html" class="icon-store">Moving &amp; storage</a></li>
                                                <li><a href="shipsping.html" class="icon-shipping">Shipping &amp; operations</a></li>
                                                <li><a href="transportation.html" class="icon-transportation">Transportation logistics</a></li>
                                                <li><a href="trucking.html" class="icon-trucking">Trucking</a></li>
                                            </ul>
									    </div><!-- /.widget -->

									    <div class="widget">
									        <div class="download-wrap company">
									            <a href="#">Company profile <span>Download</span><i class="fa fa-download"></i></a>
									        </div> <!-- /.download-wrap -->
									        <div class="download-wrap annual">
									            <a href="#">Annual Report <span>Download</span><i class="fa fa-download"></i></a>
									        </div> <!-- /.download-wrap -->
									        <div class="download-wrap brochure">
									            <a href="#">Corporate Brochure <span>Download</span><i class="fa fa-download"></i></a>
									        </div> <!-- /.download-wrap -->
									    </div><!-- /.widget -->   

									    <div class="widget">
									        <h2 class="widget-title">Office Hours</h2>
									        <div class="textwidget">
									            <p>Monday -
									            Friday: 9:00 - 18:00<br>
									            Saturday: 9:00 - 2:00<br>
									            Holidays: 9:00 - 12:00</p>
									        </div>
									    </div><!-- /.widget -->                
									</div><!-- /.sidebar-wrapper -->
								</div><!-- /.col -->
								<div class="col-md-9 col-sm-7 col-xs-12">
									<div class="faq-accordions">
										<div class="accordion" id="accordion">
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											        How secure is Asset Lock?
											      </a>
											    </div>
											    <div id="collapseOne" class="accordion-body collapse in">
											      <div class="accordion-inner">
											        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-group-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											        What are key features of a community interest company?
											      </a>
											    </div>
											    <div id="collapseTwo" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											        What is a community interest company?
											      </a>
											    </div>
											    <div id="collapseThree" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											        When should I use Bloomberg?
											      </a>
											    </div>
											    <div id="collapseFour" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
											       	Where can I find final SWOT reports?
											      </a>
											    </div>
											    <div id="collapseFive" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
											       	Where can I find my company's financial results and ratios?
											      </a>
											    </div>
											    <div id="collapseSix" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
											       	What is the best offer?
											      </a>
											    </div>
											    <div id="collapseSeven" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
											<div class="accordion-group">
											    <div class="accordion-heading">
											      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
											       	Where can I find my company's financial results and ratios?
											      </a>
											    </div>
											    <div id="collapseEight" class="accordion-body collapse">
											      <div class="accordion-inner">
											         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
											      </div>
											    </div><!-- /.accordion-body-->
											</div><!-- /.accordion-group-->
										</div>
										
									</div><!-- /.faq-accordions -->
									
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.container -->
					</section>


@RenderPage("~/Views/Shared/_footer.cshtml")

