@model busSystem_v8.View_Models.UserBooking
@{
    ViewBag.Title = "BookDetailsNewTry";
}

<h2>BookDetailsNewTry</h2>



<table>



    <tr>

        <td>Choosen Chairs</td>
        @ViewBag.dName
    </tr>

</table>

